ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: grey;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (min-width: 485px) {
  .dropdown {
    padding: 20px;
  }
}

.dropdown:hover {
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 250px;
}

@media (min-width: 485px) {
  .dropdown-content {
    margin-right: 250px;
    margin-bottom: 150px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #fc6f38;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-btn {
  color: black;
  height: 10vh;
  border-left: 2px solid black;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

@media (min-width: 485px) {
  .nav-btn {
    height: 7vh;
  }
}

.nav-btn:hover {
  color: white;
  border-bottom: 2px solid white;
}
.list-img {
  width: 50px;
  height: 50px;
  padding: 5px;
}
@media (min-width: 485px) {
  .list-img {
    width: 90px;
    height: 90px;
  }
}

.innerPage {
  position: relative;
}

.App {
  direction: rtl;
}

table > tr > td > img {
  height: 100px;
  width: 100px;
  margin: 5px;
}
