ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: grey;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (min-width: 485px) {
  .dropdown {
    padding: 20px;
  }
  .dropdown-content {
    margin-right: 250px;
    margin-bottom: 150px;
  }
}

.dropdown:hover {
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 250px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #fc6f38;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
}

.shop-img {
  width: 100px;
  margin-left: 30px;
  margin: 10px;
}

.navbar a {
  color: #c7562a;
  height: 7vh;
  border-left: 2px solid rgba(0, 0, 0, 0.125);
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.navbar a:hover {
  color: #ff723a;
  border-bottom: 2px solid #ff723a;
}
.nav-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar a {
    display: none;
  }
  .nav-icon {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }

  .responsive {
    display: flex;
  }
  .responsive a {
    display: flex;
    z-index: 2;
    border: none;
  }
}

.innerPage {
  position: relative;
}

.App {
  direction: rtl;
}

table > tr > td > img {
  height: 100px;
  width: 100px;
  margin: 5px;
}
